/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */


// https://vuetifyjs.com/features/sass-variables/`
/*@use 'vuetify/settings' with (
  $body-font-family: 'eUkraine, Arial',
  $title-font: 'eUkraineHead, Arial',
  $font-weight: 400,
  $font-color: '#000000',
  $text-align: 'left'
)*/


/*
@use 'vuetify' with (
  // variables go here
$styleName: H1 Heading
$font-family: 'e-Ukraine',
$font-size: 56px,
$font-weight: 400,
$font-color: '#000000'

)

//styleName: H2 Heading;
font-family: e-Ukraine;
font-size: 38px;
font-weight: 400;
line-height: 40px;
text-align: left;

//styleName: H3 Heading;
font-family: e-Ukraine;
font-size: 28px;
font-weight: 400;
line-height: 32px;
text-align: left;


//styleName: H4 Heading;
font-family: e-Ukraine;
font-size: 24px;
font-weight: 400;
line-height: 32px;
text-align: left;


//styleName: H5 Heading;
font-family: e-Ukraine;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: left;


//styleName: H6 Heading;
font-family: e-Ukraine;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: left;


//styleName: H7 Heading;
font-family: e-Ukraine;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;


//styleName: H7 Text light;
font-family: e-Ukraine;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;


//styleName: H8 Text;
font-family: e-Ukraine;
font-size: 13px;
font-weight: 400;
line-height: 18px;
text-align: left;

//styleName: H9 Text;
font-family: e-Ukraine;
font-size: 12px;
font-weight: 400;
line-height: 16px;
text-align: left;



//styleName: H1 Mobile Heading;
font-family: e-Ukraine;
font-size: 26px;
font-weight: 400;
line-height: 28px;
letter-spacing: -0.02em;
text-align: left;


//styleName: H2 Mobile Heading;
font-family: e-Ukraine;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.02em;
text-align: left;


//styleName: H3 Mobile Heading;
font-family: e-Ukraine;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.02em;
text-align: left;


//styleName: H4 Mobile Heading;
font-family: e-Ukraine;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.02em;
text-align: left;


//styleName: H5 Mobile Heading;
font-family: e-Ukraine;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: -0.02em;
text-align: left;


//styleName: H6 Mobile Heading;
font-family: e-Ukraine;
font-size: 13px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.02em;
text-align: left;


//styleName: H7 Mobile Light;
font-family: e-Ukraine;
font-size: 13px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.02em;
text-align: left;


//styleName: H8 Mobile Text;
font-family: e-Ukraine;
font-size: 11px;
font-weight: 400;
line-height: 14px;
text-align: center;


//styleName: H9 Mobile Text;
font-family: e-Ukraine;
font-size: 10px;
font-weight: 400;
line-height: 14px;
letter-spacing: -0.02em;
text-align: left;
*/